In [47]:
import dataretrieval.nwis as nwis
import pandas as pd
import sqlite3
import numpy as np
import datetime as dt

In [38]:
#Tenmile creek report @ william st helena MT
site = '06063000'
start = '2022-05-04'
end = '2022-11-03'

In [55]:
# sending request for tenmile report
df = nwis.get_record(sites=site, service='iv', start=start, end=end)
df = df.rename(columns = {'00060':'discharge_cfs', '00065':'depth'})
df = df.reset_index()
df = df[['datetime', 'discharge_cfs']]
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.groupby([df['datetime'].dt.date]).mean()
df = df.reset_index()
df['discharge_cfs'] = round(df['discharge_cfs'],2)
df

       datetime  discharge_cfs
0    2022-05-04          50.62
1    2022-05-05          58.04
2    2022-05-06          77.56
3    2022-05-07          90.74
4    2022-05-08          77.61
..          ...            ...
179  2022-10-30           8.81
180  2022-10-31           9.51
181  2022-11-01          14.31
182  2022-11-02          16.33
183  2022-11-03          13.18

[184 rows x 2 columns]

In [34]:
# Prickly pear creek report @ clancy
site = '06061500'
start = '2022-05-04'
end = '2022-11-03'

In [56]:
# sending request for tenmile report
df = nwis.get_record(sites=site, service='iv', start=start, end=end)
df = df.rename(columns = {'00060':'discharge_cfs', '00065':'depth'})
df = df.reset_index()
df = df[['datetime', 'discharge_cfs']]
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.groupby([df['datetime'].dt.date]).mean()
df = df.reset_index()
df['discharge_cfs'] = round(df['discharge_cfs'],2)
df

       datetime  discharge_cfs
0    2022-05-04          50.62
1    2022-05-05          58.04
2    2022-05-06          77.56
3    2022-05-07          90.74
4    2022-05-08          77.61
..          ...            ...
179  2022-10-30           8.81
180  2022-10-31           9.51
181  2022-11-01          14.31
182  2022-11-02          16.33
183  2022-11-03          13.18

[184 rows x 2 columns]